@{
    Random random = new Random();
    var randomIImage = random.Next(1, 7)+".png";
}

<head>
  
    <title>LifeGoals! 404</title>
  

    
</head>
<body>
<div style="width: 60%;" class="content text-center">



    <h1>404</h1>
    <h3>not found</h3>

    <p><img style="max-width: 70%" src="/img404/@randomIImage" alt="icon"></p>
    
    <a class="btn btn-danger" href="/">Home</a>




    </div>
</body>

