@using LifeGoals.PageObjects
@using LifeGoals.Dbmanagement

@{

  

    string address  = ViewData["address"].ToString();
    string status =  ViewData["status"].ToString();
    
}
@await Html.PartialAsync("_title",$"Feed {address}")
<script>
    var PageName="Feed";
    var AddressPage="0x"+"@address";
    var StatusPage="@status";
</script>
    
  

@if (status == "exist")
{
    @await Html.PartialAsync("SVG/SVG")

    <script>SetBackground("@UserManagement.GetUser(address).Background");</script>
                                                                       
    <partial name="Profile/DonatDialog" model="address"/>

    
    
    <div class="text-center">
        <div class="profileWrapper">
            <div class="goals" id="allGoals">
                @await Html.PartialAsync("Goal/GetUserFeed",new AllGoalsScroll(){Address = address,ScrollNumber = 1})
            </div>
        </div>
    </div>  
    
}
else
{
    
   

    if (status=="NotFound")
    {
        <partial name="Pages/Error404"/>
    }
    else if (status=="NoWeb3")
    {
        <partial name="Pages/Register"/>   
    }

}