@using Microsoft.AspNetCore.Identity
@using LifeGoals.Daemons;
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @if (ViewData["Title"] != null)
    {
        <title> @ViewData["Title"].ToString()</title>
    }
    else
    {
        <title>LifeGoals!</title>
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/design.css">
    <link rel="stylesheet" href="~/css/authorization.css">
    <link rel="stylesheet" href="~/css/create_goal.css">
    <link rel="stylesheet" href="~/css/goal.css">
    <link rel="stylesheet" href="~/css/progress_bar.css">
    <link rel="stylesheet" href="~/css/details_dialog.css">
    <script type="text/javascript" src="~/lib/davidshimjs-qrcodejs/qrcode.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/WEB3.js"></script>
    

    
</head>
<body>
<header class="header rounded-root" style="z-index: 10000;">
    
           
    <div class="main-header-btn">

                
                    
                    
        <div class="header-btn" >
            <a style=" color: white; text-decoration: none" href="/" >LifeGoals</a>
            <img src="~/img/pic.png" widht="30" height="30" class="logo-icon" alt="">
        </div>
                    
                     
                    
        <div class="header-btn header-control" >
            <a href="/" style=" color: white; text-decoration: none">Profile</a>
        </div>

        </div>



        <div class="aut-header-btn logout">
                    
            <button id="btnLoginWithEth" onclick="loginWithEth()"  class="btn btn-purple rounded-root">
                <img class="iconButtonNonBorder" src="/img/waller.png" >
                <span>Connect Wallet</span>
            </button>
                           
            <p id="web3Net"  class="btn btn-white-purple rounded-root hidden">
                <img id="web3NetImg" class="iconButtonNonBorder" >
                <span id="web3NetName">net name</span>
            </p>
                                   
                   
            <button id="logoutButton" onclick="logout()" class="hidden btn btn-danger rounded-root">
                Logout
            </button>
                                
            <br/>
        </div>
         
            
    
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle"><span></span></label>
                    
                    
        
        <ul class="menu__box" >
            <partial name="_LoginPartial"/>
        </ul>             
        
    </div>
       
            
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script>
           //Отключение подтверждение формы
         
              if ( window.history.replaceState ) { window.history.replaceState( null, null, window.location.href );}
     </script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>

<footer class="border-top footer text-muted">
    <div class="containerFooter" style=" color: black;">
        &copy; 2022 - LifeGoals - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
</html>
