@using Microsoft.AspNetCore.Identity
@using LifeGoals.Daemons;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LifeGoals!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/design.css">
    <link rel="stylesheet" href="~/css/authorization.css">
    <link rel="stylesheet" href="~/css/create_goal.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    
    
</head>
<body>
<header class="header" style="z-index: 10000;">
    
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="main-header-btn">

                
                    
                    
                    <div class="header-btn" >
                        <a asp-area=""  style=" color: white; text-decoration: none" asp-controller="Home" asp-action="Index">LifeGoals</a>
                        <img src="~/img/pic.png" widht="30" height="30" alt="">
                    </div>
                    
                     
                    
                    <div class="header-btn" >
                        <a href="/" style=" color: white; text-decoration: none">Profile</a>
                    </div>

                </div>



                <div class="aut-header-btn">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                        <button type="submit" style=" background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;" class="logout">Logout</button>
                    </form>
                </div>
            }
            else
            {
                <div class="aut-header-btn">
                     <a class="register" asp-area="Identity" asp-page="/Account/Register" style="text-decoration: none">Register</a>
                    <a class="login" asp-area="Identity" asp-page="/Account/Login" style="text-decoration: none">Login</a>
                </div>
               
                
         
            }
            
    
    <div class="hamburger-menu">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle"><span></span></label>
                    
                    
                     @if (SignInManager.IsSignedIn(User))
                     {
                         <ul class="menu__box" >
                             <partial name="_LoginPartial"/>
                         </ul>             
                     }
                     else
                      {
                                         
                          <ul class="menu__box__login"  >
                              <partial name="_LoginPartial"/>
                          </ul>                     
                                    
                      }
                    
                    
                    
    </div>
       
            
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>

<footer class="border-top footer text-muted">
    <div class="containerFooter" style=" color: black;">
        &copy; 2021 - LifeGoals - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
</html>
