@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="header">
    @if (SignInManager.IsSignedIn(User))
    {
    
        
        
        <p><a class="menu__item" href="/" style="text-decoration: none">Profile</a></p>

        <form class="menu__item__but" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit" class="menu__item__button">Logout</button>
            </form>
     
      
    }
    else
    {
        <p><a class="menu__item" asp-area="Identity" asp-page="/Account/Register">Register</a></p>
        <p><a class="menu__item" asp-area="Identity" asp-page="/Account/Login">Login</a></p>
        
     
    }
</ul>