@page
@using LifeGoals
@using LifeGoals.Dbmanagement
@using System.Security.Claims
@model LifeGoals.Areas.Identity.Pages.Account.Manage.IndexModel
@{
  
   var user= UserManagement.GetUser(User.FindFirstValue(ClaimTypes.NameIdentifier));
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

    
    
    <h4>@ViewData["Title"]</h4>
    <div style="margin-bottom: 10px;">User ID:@user.Id</div>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                <div class="form-group">
                        <img class="profileImage" src="@user.Imag" style="max-width: 295px; margin-bottom: 15px">
                        <form asp-action="AddFUserImage" asp-controller="Home" method="post" enctype="multipart/form-data">
                            <label class="btn btn-primary">
                                <span class="button bg-green"><i class="far fa-file-image"></i>Upload new avatar (*.jpg/*.png)</span>
                                <input type="file" name="uploadedFile" accept=".jpg,.png" onchange="this.form.submit()" style="display: none">
                            </label>
                        </form>
                    </div>
                    <div class="form-group">
                        <img class="profileImage" src="@user.Background" style="max-width: 295px; margin-bottom: 15px">
                        <form asp-action="AddFUserBackground" asp-controller="Home" method="post" enctype="multipart/form-data">
                            <label class="btn btn-primary">
                                <span class="button bg-green"><i class="far fa-file-image"></i>Upload new background (*.jpg/*.png)</span>
                                <input type="file" name="uploadedFile" accept=".jpg,.png" onchange="this.form.submit()" style="display: none">
                            </label>
                        </form>

                </div>
              
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
 
@section Scripts {
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}