<head>
  <link

    rel="stylesheet"
  />
      <script src="~/js/WEB3.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
    integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</head>

<body class="h-full">
  <div
    class="
      flex
      w-full
      h-full
      justify-center
      content-center
      items-center
      space-x-4
    "
  >
    <div class="flex flex-col space-y-6">
      <h3 class="text-center">Working with Web3.js!</h3>
      <div class="flex flex-col space-y-2">
        <button
          onclick="loginWithEth()"
          class="
            rounded
            bg-white
            border border-gray-400
            hover:bg-gray-100
            py-2
            px-4
            text-gray-600
            hover:text-gray-700
          "
        >
          Login & Save ETH Address
        </button>
        <p id="userAddress" class="text-gray-600"></p>
        <button
          id="logoutButton"
          onclick="logout()"
          class="hidden text-blue-500 underline"
        >
          Logout
        </button>
      </div>
      <button
        id="getContractInfo"
        onclick="getContractSymbol()"
        class="rounded bg-blue-500 hover:bg-blue-700 py-2 px-4 text-white"
      >
        Get Contract Symbol
      </button>
      <input id="lox"/>
      <div class="flex flex-col space-y-2"></div>
    </div>
  </div>

  <script>
    


  </script>
</body>