@using LifeGoals.PageObjects
@using LifeGoals.Dbmanagement

@{

  

    string address  = ViewData["address"].ToString();
    string status =  ViewData["status"].ToString();
    
    ViewData["Title"] = "User "+address;
}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        var PageName="Feed";
        var AddressPage="0x"+"@address";
        var StatusPage="@status";
    </script>
    
  
}
@if (status == "exist")
{
    <script>SetBackground("@UserManagement.GetUser(address).Background");</script>
    <partial name="Profile/DonatDialog" model="address"/>
    <partial name="Feed/AjaxForms" model="address"/>
    
    
    <div class="text-center">
        <div class="profileWrapper">
            <div class="goals" id="allGoals">
                @await Html.PartialAsync("Goal/GetUserFeed",new AllGoalsScroll(){Address = address,ScrollNumber = 1})
            </div>
        </div>
    </div>  
    
}
else
{
    
   
    if (status=="NotFound")
    {
        <partial name="Error404"/>
    }
    

}