@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using  LifeGoals.Dbmanagement;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{

    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    
    
}



<div class="text-center">
   

    


        @if (SignInManager.IsSignedIn(User))
        {

            <partial name="Index/IsSignedIn"/>

        }
        else
        {


            <partial name="Index/NotSignedIn"/>

        }



    @{
        

    }
</div>

@section Scripts {
     <recaptcha-script />
    <partial name="_ValidationScriptsPartial" />
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript" src="~/lib/davidshimjs-qrcodejs/qrcode.js"></script>
    <script type="text/javascript">
      
      
      //Отключение подтверждение формы
      if ( window.history.replaceState ) { window.history.replaceState( null, null, window.location.href );}
    
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
    
    
}