@model GoalObjects
@using LifeGoals.PageObjects

@{

  

    string address  = ViewData["address"].ToString();
    string status =  ViewData["status"].ToString();
    
    ViewData["Title"] = "User "+address;
}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        var PageName="Profile";
        var AddressPage="0x"+"@address";
        var StatusPage="@status";
    </script>
    
    
}
@if (status=="exist")
{
    
@await Html.PartialAsync("SVG/SVG")

    
<partial name="Profile/DonatDialog" model="address"/>


<div class="text-center">
  
    <div class="profileWrapper">
        
        
        @await Html.PartialAsync("Profile/UserAllData",new UserAllData(){UserAddress = address})
        
        @await Html.PartialAsync("Profile/GoalLine",address)
        

      
     
        @await Html.PartialAsync("Profile/CreateGoal")
            

        


        <div class="goals" id="allGoals">
            @await Html.PartialAsync("Goal/GetAllGoals",new AllGoalsScroll(){Address = address,ScrollNumber = 1})
        </div>





        

    </div>
</div>
    
}
else
{
    
   
    if (status=="NotFound")
    {
        <partial name="Error404"/>
    }
    else if (status=="NoWeb3")
    {
        <partial name="Register"/>   
    }

}
