@model GoalObjects
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@{
    ViewData["Title"] = "Privacy Policy";
    
    string userId = default;
    
    if (User.Identity.IsAuthenticated==true)
        userId=User.FindFirstValue(ClaimTypes.NameIdentifier);  
    

   

    string id  = ViewData["id"].ToString();

}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
}
@if (id!="non"&id!="zero")
{
 
    
<div id="panel" class="text-center">
    
    <div class="profileWrapper">

       
       <partial name="Profile/UserAllData" model="id"/>
        
                <div>
                    <div class="points">
                        
                        <div class="point">
                            <a>dada</a>
                            <div class="descr">
                                Какой-то текст который должен быть в блоке<br>
                                <a href="#">Интересная ссылка</a>
                            </div>
                        </div>
                        
                        <div class="point">
                            <div class="descr">
                                Какой-то текст который должен быть в блоке<br>
                                <a href="#">Интересная ссылка</a>
                            </div>
                        </div>
                 
                        
                </div>
              <svg class="goalsLine">
                  <line x1="10px" x2="calc(100% - 10px)" y1="10%" y2="10%" stroke="black" stroke-width="8" stroke-linecap="round"></line>
              </svg>
            
            
            
        </div>
       @if(id==userId)
       {
           //ovner
           <div class="div_create_goal">
               
               <form id="my_form" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#panel" data-ajax-mode='replace' data-ajax-url="@Url.Action("GoalAdd", "Home")">

                   <input class="form-control" name="titles" placeholder="Titles" style="display: initial;width: 25%;margin-bottom: 24px;"/>

                   <h3>description </h3>

                   <textarea placeholder="Body description..."  name="body" rows="3" class="textarea_description"></textarea>

                   <br/>
                   <input type="submit"/>

               </form>
           </div>
           
       } 
     
       
       <div class="goals">
           <partial  name="Profile/GetAllGoals" model="id"/>
       </div>
        
        
        

       
        <script>
           //Отключение подтверждение формы
          
              if ( window.history.replaceState ) { window.history.replaceState( null, null, window.location.href );}
        </script>

    </div>
</div>
    
}
else
{
    if (id=="zero")
    {
        <script>
            //redirect
            window.location.href  = "/Identity/Account/Login";
        </script>

    }
    if (id=="non")
    {
        <partial name="Error404"/>
    }
    
  
    
   
   
   
}
