@page
@model RegisterModel


@{
    ViewData["Title"] = "Register";
  
}
<div class="aut-main-form">
    <h1>@ViewData["Title"]</h1>
    
    <div>
        <div class="aut-all-Input-Data">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                      <input asp-for="Input.UserName" placeholder="UserName" class="form-control aut-Input" />
                      
                </div>
                <div class="form-group">
                    <input asp-for="Input.Email" placeholder="Email" class="form-control aut-Input" />
                    
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" placeholder="Password" class="form-control aut-Input" />
                    
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control aut-Input" />
                    
                </div>
                
                <button type="submit" class="btn btn-purple aut-button">Register</button>
            </form>
        </div>
       
    </div>
    
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
