.div_create_goal
{
    border-radius: 15px;
    background-color: dimgrey;
    padding: 28px;
    margin: 26px;
    margin-top: 0px;
}
.textarea_description
{
    height: 125px;
    outline: none;
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 25px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.goal_description{
    background: #f0f0f0;
    border: 1px solid #333;
    padding: 10px;
    font-size: 18px;
    word-break: break-all;
    border-radius: 16px;
}
.donate_Value
{
    display: initial;
    width: 16%;
    margin-bottom: 24px;
}
.checkboxText
{
    color: white;
    white-space: nowrap;
    margin-inline: 2px;
    margin-top: 9px;
}
.checkbox
{
    margin-left: 4px;
    margin-top: 13px;
}
.blue
{
    background: #E9EFF6;
}