
.boxed-group {
    width: 90%;
    max-width: 680px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

}
.boxed-group-inner {
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color:  #e6e9ed;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
}
#qrcodeAddress {
    margin: auto;
    display: table;
   
}


.site-dialog {
    overflow: hidden;
    width: 95%;
    max-width: 600px;
    padding: 0;
    border-width: 0;
    border-radius: 35px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
}

.dialog-header {
    padding: 12px 20px;
    background-color: #9c72ce;
}
.dialog-content {
    padding: 10px 20px;
    color: #555;
    background-color: #fff;
}
p:last-of-type, p:only-child {
    margin-top: 0;
    margin-bottom: 0;
}
.black-link:hover
{
    text-decoration: none;
    color: black;
}
.black-link
{
    text-decoration: none;
    color: black;
}
.user-list-unit
{
    font-size: 15px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ae7fe5;
    margin: 5px;
}
.user-list-title
{
    margin-inline: 30px;
    display: flex;
    justify-content: space-between;
}