.goal{
    text-align: justify;
    border-radius: 10px;
    background: #f1f1f1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 21px;
    margin-right: 21px;
    padding: 12px;
    /* height: 200px; */
    flex: 134px;
    margin-bottom: 50px;
}
.goalUser
{
    margin-left: 2px;
    font-size: 23px;
}
.goalInf
{
 margin-top: 4px;   
}
.goalsLine
{
    width: 98%;
    height: 60px;
}
.goalTitle
{
    margin-left: 4px;
    font-size: 21px;
}
.goalStar
{   fill: #d6d6d6;
    margin-bottom: 7px;
    width: 20px;
    height: 26px;
}
.goalStar:hover
{   fill: #6c757d96;
    margin-bottom: 7px;
    width: 20px;
    height: 26px;
}
.goalPointsStatus
{
    margin-inline: 3px;
    justify-content: space-between;
    display: flex;
    margin-top: 13px;
}
.goalStatus
{
    opacity:0.6;
    width: 32%;
    height: 17px;
    border-radius: 10px;
    
}
.goalStatus:hover
{
    opacity:1;
}