.goal{
    text-align: justify;
    border-radius: 10px;
    background: #f1f1f1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 21px;
    margin-right: 21px;
    padding: 5px;
    /* height: 200px; */
    flex: 134px;
    margin-bottom: 50px;
}
.goalUser{
    padding: 10px;
    font-size: 23px;
}
.goalsLine
{
    width: 98%;
    height: 60px;
}
.goalTitle{
    padding-left: 10px;
    font-size: 21px;
}
.goalStar
{   fill: #d6d6d6;
    margin-bottom: 7px;
    width: 20px;
    height: 26px;
}
.goalStar:hover
{   fill: #6c757d96;
    margin-bottom: 7px;
    width: 20px;
    height: 26px;
}
