@model LifeGoals.PageObjects.UniversalAddressPage

<script>
var AddressPage="0x"+"@Model";
</script>

    <div class="text-center">
        <div class="spin-wrapper">
            <div class="spinner">
            </div>
        </div>
    </div>

@if (Model.UserAddress==default)
{   
    <script>
        
        function initPage() 
        {
            PageAjaxTransition("@Model.Page",userAddress,true);       
        }
           
    </script>
}
else
{
    <script>
        function initPage() 
        {
            PageAjaxTransition("@Model.Page","@Model.UserAddress",true);  
        }
       
    </script>
}

