<div class="text-center">
    <section>
            <dialog id="Donate-dialog" class="site-dialog">
                <header class="dialog-header">
                    <h1 id="MainDialog" style="color: white"></h1>
                </header>
                <div class="dialog-content">
                     <img src="/img/ethereum-eth.gif" style="width: 80px;"/>
                    <h4 id="addressTextType"></h4>
                   
                    
                    <div style="word-break: break-all;" id="addressText"></div>
                    <input id="Address" type="text" style="display: none" value="https://hogangnono.com"/>
                    <div id="qrcodeAddress"></div>

                    <p id="DialogDiscript"></p>
                </div>
                <div class="btn-group cf">
                    <button class="btn btn-cancel" id="cancel">Cancel</button>

                </div>
            </dialog>
    </section>
</div>