@model string
<form method="get" id="Scroll" data-ajax="true" data-ajax-method="get" data-ajax-update="#allGoals" data-ajax-mode='after' data-ajax-url="@Url.Action("UpdateGoals", "Home")">
        <input style="display: none" value="@Model" name="address"/>
        <input style="display: none" value="1" id="ScrollNumber" name="scrollNumber">
</form>